.button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  color: '#333333';
  cursor: pointer;
  font-size: 14px;
}

.button-success {
  background-color: #48bb78;
  color: white;
}

.button-warning {
  background-color: #ecc94b;
}

.button-error {
  background-color: #f56565;
  color: white;
}
